body, html {
  height: 100%;
}

body {
  text-align: center;
  background-color: rgb(175, 163, 142);
}

button {
  border: 5px solid black;
  border-radius: 15px;
  margin: 5px;
}

button:hover {
  cursor: pointer;
  opacity: .6;
  border: 5px solid gray;
}

input, textarea {
  margin: 3px;
}

.clickable:hover {
  cursor: pointer;
}